body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #000024;
}
.container,
.containerFirst {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  min-height: 96vh;
  max-height: 96vh;
  min-width: 96vw;
  max-width: 96vw;
  overflow: hidden;
  /* background-color: #009024; */
  background-color: #000036;
  box-shadow: 0 0 24px darkseagreen;
}

.square, .squareFirst {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 64px;
  max-height: 64px;
  min-width: 64px;
  max-width: 64px;
  margin: -12px;
  /* border-radius: 8px;  TODO: apply random value */
  transition: 0.2s ease;
  /* border: 1px solid red; */
}
/* .square:hover { */
  /* box-shadow: 0 0 24px darkseagreen;   TODO: apply random value */
  /* transition-duration: 20ms; */
/* } */
.extraSquare {
  box-sizing: border-box;
  display: flex;
  justify-self: center;
  align-self: center;
  /* min-height: 36px;
  max-height: 36px;
  min-width: 36px;
  max-width: 36px; */
  margin: -6px;
  border-radius: 18px;
  transition: 8s ease;
}
.extraSquare:hover {
  box-shadow: 0 0 12px rgb(161, 215, 247);   /* TODO: apply random value */
  transition-duration: 40ms;
}

/* .containerLushch__css-class {} */
.scoupe-wrap__Lushch__css-class {
  box-sizing: border-box;
  border: moccasin solid 2px;
}
.touchZoneFirst__css-class,
.touchZoneSecond__css-class {
  box-sizing: border-box;
  margin: 3%;
  border: magenta solid 2px;
}
.containerLushch__css-class h1 {
  box-sizing: border-box;
  text-align: center;
  color:rgb(161, 215, 247);
}
.textOutputZoneFirst__css-class,
.textOutputZoneSecond__css-class {
  box-sizing: border-box;
  min-height: 36px;
  padding: 2%;
  vertical-align: middle;
  /* text-align: center; */
  color:rgb(161, 215, 247);
}
