body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #000024;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  min-height: 96vh;
  max-height: 96vh;
  min-width: 96vw;
  max-width: 96vw;
  overflow: hidden;
  background-color: #009024;
  /* background-color: #000036; */
  box-shadow: 0 0 24px darkseagreen;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 64px;
  max-height: 64px;
  min-width: 64px;
  max-width: 64px;
  margin: -12px;
  /* border-radius: 8px;  TODO: apply random value */
  transition: 5s ease;
}
.square:hover {
  box-shadow: 0 0 24px darkseagreen;   /* TODO: apply random value */
  transition-duration: 20ms;
}
.extraSquare {
  display: flex;
  justify-self: center;
  align-self: center;
  min-height: 36px;
  max-height: 36px;
  min-width: 36px;
  max-width: 36px;
  margin: -6px;
  border-radius: 18px;
  transition: 8s ease;
}
.extraSquare:hover {
  box-shadow: 0 0 12px rgb(161, 215, 247);   /* TODO: apply random value */
  transition-duration: 40ms;
}
